---
--- 


@import "_datahandling.scss";

.tableheaderrow {
th {
background-color: black;
color: white; }
}
.footertime {
text-align: center;
align-items: center;
margin: auto;
width: auto;
}
.centerscrollable {
  display:flex;
  justify-content:center;
  align-items:center;
  overflow-y: auto;
  overflow-x: auto;
}
.conductormodebox {
  position: sticky;
  top:0;
  background-color: darkslategrey;
  border: 2px solid darkgoldenrod;

}
.conductormodebutton {
padding: 20px;
}
