---
--- 


@import "_datahandling.scss";

.tableheaderrow {
th {
background-color: black;
color: white; }
}
.footertime {
text-align: center;
align-items: center;
margin: auto;
width: auto;
}
.centerscrollable {
  display:flex;
  justify-content:center;
  align-items:center;
  overflow-y: auto;
  overflow-x: auto;
}
.conductormodebox {
  position: sticky;
  top:0px;
  left:400px;
  background-color: grey;
  border: 2px solid black;
  width: fit-content;
  box-sizing: border-box;

}
.conductormodebutton {
padding: 15px;
background: transparent;
border: none !important;


}
