---
heading: For DLC enthusiasts!
---
<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
</style>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
<script src="script.js"></script>
<title>DLC requests</title>
</head>
<body>
<h1>{{page.heading}}</h1>
<ul>
{% for member in site.data.dlcRequests %}
    {% unless {{member.has_played}} == Yes %}
    <li>
    {{member.dlc_request}}
    {{member.user_name}}
    {{member.dlc_request_timestamp}}
    {% if {{member.imdb_url != null}} %}
    <a href={{member.imdb_url}}>imdb link</a>
    {% endif %}
    </li>
    {% endunless %}
{% endfor %}
</ul>


</body>
