---
heading: For DLC enthusiasts!
---
<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {text-align: center;}
        h1 {text-shadow: 2px 2px 2px black;}
        p {text-align: center;}
        body {background-image: url("https://cdn.7tv.app/emote/01GZ95010000028EVQ0341T7QS/4x.avif");}
    </style>
    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
    <title>DLC requests</title>
</head>
<body>
<h1>{{page.heading}}</h1>
<div class="centerscrollable">
<table id="dlc_request_table">
    <tr class="tableheaderrow">
    <th onclick="sortTable(0)">DLC request</th>
    <th onclick="sortTable(1)">User name</th>
    <th onclick="sortTableTime(2)">Timestamp</th>
    <th onclick="sortTable(3)">Imdb link (if found)</th>
    <th onclick="sortTable(4)">short uuid</th>
    </tr>

{% for member in site.data.dlcRequests reversed %}
    {% unless {{member.has_played}} == "Yes" %}
    <tr>
    <td>{{member.dlc_request}}</td>
    <td>{{member.user_name}}</td>
    <td>{{member.dlc_request_timestamp}}</td>
    {% if {{member.imdb_url != null}} %}
    <td><a href={{member.imdb_url}} target="_blank">imdb link</a></td>
    {% else %}
    <td>&nbsp;</td>
    {% endif %}
    <td>{{member.short_uuid}}</td>
    </tr>
    {% endunless %}
{% endfor %}

<tfoot>
    <tr>
        <th colspan="5">Last updated at: {{site.time | date: "%-d %B %H:%M:%S %Z"}}</th>
    </tr>
</tfoot>
</table>
</div>
<script src="script.js"></script>
</body>
