---
heading: For DLC enthusiasts!
---
<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
</style>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
<script src="script.js"></script>
<title>DLC requests</title>
</head>
<body>
<h1>{{page.heading}}</h1>
<table>
    <tr>
    <th>DLC request</th>
    <th>User name</th>
    <th>Timestamp</th>
    <th>Imdb link (if found)</th>
    </tr>

{% for member in site.data.dlcRequests %}
    {% unless {{member.has_played}} == Yes%}
    <tr>
    <td>{{member.dlc_request}}</td>
    <td>{{member.user_name}}</td>
    <td>{{member.user_name}}</td>
    <td>{{member.dlc_request_timestamp}}</td>
    {% if {{member.imdb_url != null}} %}
    <td><a href={{member.imdb_url}}>imdb link</a></td>
    {% endif %}
    </tr>
    {% endunless %}
{% endfor %}
</table>


</body>
