body {
    table {
    empty-cells: show;
    width: auto;
    margin: auto;
        tfoot {
            tr {
                th {
                    
                }
            }
        }
        tbody {
            background-color: #ffffff;
            tr:hover {background-color: blanchedalmond;}
            tr {
            td {
                text-align: center;
                a:link {text-decoration: none;}
                a:hover { text-decoration: underline;}
                }
            }

            }
        }
}