body {
    table {
    width: auto;
    margin: auto;
        tbody {
            background-color: #ffffff;
            tr:hover {background-color: blanchedalmond;} 
            tr {
            td {text-align: center;}
            }

            }
        }
}